.view
  %video(autoplay loop muted playsinline poster="https://mdbootstrap.com/img/Photos/Others/background.jpg" class="video-intro")
    %source{:src => "https://mdbootstrap.com/img/video/Lines-min.mp4", :type => "video/mp4"}
  / Mask & flexbox options
  .mask.rgba-black-light.d-flex.justify-content-center.align-items-center
    / Content
    .text-center.white-text.mx-5.wow.fadeIn
      %h1.display-4.mb-4
        %strong United Ideas RoR Task

      %p#time-counter.border.border-light.my-4
      %h4.mb-4
        %strong little e-commerce app
      = link_to products_path, class: "btn btn-outline-white btn-l" do
        let's begin
        %i.fa.fa-graduation-cap.ml-2