%nav.nav.nav-pills.flex-column
  - @category.siblings.each do |category|
    - if category == @category
      = link_to category.name, products_path(:category => category.id), class: "nav-link btn-outline-info"
      %nav.nav.nav-pills.flex-column
        - @category.children.each do |category, children|
          = link_to category.name, products_path(:category => category.id), class: "nav-link ml-3"
          = render 'categories_nav', categories: children if children.present?
    - else
      %li
        = link_to category.name, products_path(:category => category.id), class: "nav-link"
