Search Form:

= form_tag(products_path, method: "GET") do
  = hidden_field_tag :category, @category.id
  - properties.each do |p|
    = render "products/filter_fields/field", type: p.field_type,item: p.name, options: p.options, value: ""
  = submit_tag 'Search', name: nil, class: "btn btn-deep-orange mt-3"