
%a.btn.btn-outline-white{:href => "https://mdbootstrap.com/docs/jquery/getting-started/download/", :role => "button", :target => "_blank"}
Download MDB
%i.fa.fa-download.ml-2
%a.btn.btn-outline-white{:href => "https://mdbootstrap.com/education/bootstrap/", :role => "button", :target => "_blank"}
Start free tutorial
%i.fa.fa-graduation-cap.ml-2
/ /.Call to action
%hr.my-4/
/ Social icons
.pb-4
%a{:href => "https://www.facebook.com/mdbootstrap", :target => "_blank"}
    %i.fa.fa-facebook.mr-3
%a{:href => "https://twitter.com/MDBootstrap", :target => "_blank"}
    %i.fa.fa-twitter.mr-3
%a{:href => "https://www.youtube.com/watch?v=7MUISDJ5ZZ4", :target => "_blank"}
    %i.fa.fa-youtube.mr-3
%a{:href => "https://plus.google.com/u/0/b/107863090883699620484", :target => "_blank"}
    %i.fa.fa-google-plus.mr-3
%a{:href => "https://dribbble.com/mdbootstrap", :target => "_blank"}
    %i.fa.fa-dribbble.mr-3
%a{:href => "https://pinterest.com/mdbootstrap", :target => "_blank"}
    %i.fa.fa-pinterest.mr-3
%a{:href => "https://github.com/mdbootstrap/bootstrap-material-design", :target => "_blank"}
    %i.fa.fa-github.mr-3
%a{:href => "http://codepen.io/mdbootstrap/", :target => "_blank"}
    %i.fa.fa-codepen.mr-3
/ Social icons
/ Copyright
.footer-copyright.py-3
Theme by:
%a{:href => "https://mdbootstrap.com/education/bootstrap/", :target => "_blank"} MDBootstrap.com


