%nav.navbar.fixed-top.navbar-expand-lg.navbar-light.white.scrolling-navbar
  .container
    / Brand
    %a.navbar-brand.waves-effect{:href => "https://mdbootstrap.com/docs/jquery/", :target => "_blank"}
      %strong.blue-text MDB
    / Collapse
    %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    / Links
    #navbarSupportedContent.collapse.navbar-collapse
      / Left
      %ul.navbar-nav.mr-auto
        %li.nav-item.active
          = link_to "Home", root_path, class: "nav-link waves-effect"
        %li.nav-item
          = link_to "Categories", categories_path, class: "nav-link waves-effect"
        %li.nav-item
          = link_to "Products", products_path, class: "nav-link waves-effect"
        %li.nav-item
          %a.nav-link.waves-effect{:href => "https://mdbootstrap.com/education/bootstrap/", :target => "_blank"} Free tutorials
      / Right
      %ul.navbar-nav.nav-flex-icons
        %li.nav-item
          %a.nav-link.waves-effect
            %span.badge.red.z-depth-1.mr-1 1
            %i.fa.fa-shopping-cart
            %span.clearfix.d-none.d-sm-inline-block Cart
        %li.nav-item
          %a.nav-link.waves-effect{:href => "https://www.facebook.com/mdbootstrap", :target => "_blank"}
            %i.fa.fa-facebook
        %li.nav-item
          %a.nav-link.waves-effect{:href => "https://twitter.com/MDBootstrap", :target => "_blank"}
            %i.fa.fa-twitter
        %li.nav-item
          %a.nav-link.border.border-light.rounded.waves-effect{:href => "https://github.com/mdbootstrap/bootstrap-material-design", :target => "_blank"}
            %i.fa.fa-github.mr-2>
            MDB GitHub